<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="cap" sortOrder="401" translate="label">
			<label>CAP 340</label>
		</tab>
		<section id="cap_gmailsmtp" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<class>separator-top</class>
			<label>Gmail SMTP</label>
			<tab>cap</tab>
			<resource>Cap_GmailSmtp::config</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General Configuration</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="version" translate="label" type="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Module Version</label>
					<frontend_model>Cap\GmailSmtp\Block\Adminhtml\System\Config\Form\Field\Version</frontend_model>
				</field>
			</group>
			<group id="settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
				<label>SMTP Configuration</label>
				<field id="host" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>SMTP Host</label>
					<comment><![CDATA[Default <strong>smtp.gmail.com</strong> for Gmail.]]></comment>
					<depends>
						<field id="*/general/active">1</field>
					</depends>
				</field>
				<field id="port" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>SMTP Port</label>
					<validate>validate-number</validate>
					<frontend_class>validate-number</frontend_class>
					<comment>Use 465 (ssl) or 587 (tls).</comment>
					<depends>
						<field id="*/general/active">1</field>
					</depends>
				</field>
				<field id="auth" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Authentication method</label>
					<source_model>Magento\Config\Model\Config\Source\Email\Smtpauth</source_model>
					<comment><![CDATA[Use <strong>LOGIN</strong> for Gmail.]]></comment>
					<depends>
						<field id="*/general/active">1</field>
					</depends>
				</field>
				<field id="ssl" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>SSL</label>
					<source_model>Cap\GmailSmtp\Model\Config\Source\AuthType</source_model>
					<comment><![CDATA[Use <strong>SSL</strong> for Gmail.]]></comment>
					<depends>
						<field id="*/general/active">1</field>
					</depends>
				</field>
				<field id="username" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Username</label>
					<comment>User Email Address.</comment>
					<depends>
						<field id="*/general/active">1</field>
					</depends>
				</field>
				<field id="password" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Password</label>
					<comment>User Password.</comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id="*/general/active">1</field>
					</depends>
				</field>
			</group>
		</section>
	</system>
</config>

